@charset "utf-8";
/* CSS Document */

#box{
	 width:500px; height:200px; border: #FFF 10px dashed;  background:#96F; margin:auto; border-radius:100px;
	 }
  p{
	  font-size:56px; line-height:90px; color:#CFF;
	}	 
#box1{ width:55px; height:55px; background:#FFF; border:#96F 10px dashed; position:relative; top:-145px; left:150px; font-size:50px; line-height:55px; text-align:center;
	}	
#box2{ width:55px; height:55px; background:#FFF; border:#96F 10px dashed; position:relative; top:-220px; left:230px; font-size:50px; line-height:55px; text-align:center;
     }
#box3{ width:55px; height:55px; background:#FFF; border:#96F 10px dashed; position:relative; top:-295px; left:310px; font-size:50px; line-height:55px; text-align:center;
     }
#inp{ width:80px; height:80px; position:relative; top:-370px; left:397px; border-radius:40px; border:none; outline:none;
     }