

body{margin: 0;
	padding: 0;}
	
#div1{width: 100px;
    height: 100px;
    background: red;
    position: absolute;}

#div2{width: 100px;
    height: 100px;
    background: green;
    position: absolute;}
    
#div3{width: 100px;
    height: 100px;
    background: blue;
    position: absolute;}